NODE_ENV=development

DB_PASSWORD=MySecr3tPassWord@as2
DB_NAME=alDiaDev
DB_HOST=localhost
DB_PORT=5435
DB_USERNAME=postgres

PORT=3010
HOST_API=http://localhost:3010/api

JWT_SECRET=Est3EsMISE3Dsecreto32s
JWT_EXPIRES_IN=12h

CORS_ORIGINS=http://localhost:5173,http://localhost:5174
